---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=The%20Chronic&api_key=ca7921870f0f9e9e0f78e996de594dfd&artist=Dr.%20Dre&format=json&method=album.getinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"album":{"artist":"Dr. Dre","recording_mbid":"0001a90e-252d-3af0-8e1c-173c1c4835c3","tags":{"tag":[{"url":"https:\/\/www.last.fm\/tag\/hip-hop","name":"hip-hop"},{"url":"https:\/\/www.last.fm\/tag\/rap","name":"rap"},{"url":"https:\/\/www.last.fm\/tag\/gangsta+rap","name":"gangsta
        rap"},{"url":"https:\/\/www.last.fm\/tag\/hip+hop","name":"hip hop"},{"url":"https:\/\/www.last.fm\/tag\/g-funk","name":"g-funk"}]},"playcount":"11335573","image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/6d49060026f44d69cd67a7cffa6e3092.png"},{"size":"medium","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/64s\/6d49060026f44d69cd67a7cffa6e3092.png"},{"size":"large","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/174s\/6d49060026f44d69cd67a7cffa6e3092.png"},{"size":"extralarge","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/6d49060026f44d69cd67a7cffa6e3092.png"},{"size":"mega","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/6d49060026f44d69cd67a7cffa6e3092.png"},{"size":"","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/6d49060026f44d69cd67a7cffa6e3092.png"}],"tracks":{"track":[{"streamable":{"fulltrack":"0","#text":"0"},"duration":118,"url":"https:\/\/www.last.fm\/music\/Dr.+Dre\/The+Chronic\/The+Chronic+(Intro)","name":"The
        Chronic (Intro)","@attr":{"rank":1},"artist":{"url":"https:\/\/www.last.fm\/music\/Dr.+Dre","name":"Dr.
        Dre","recording_mbid":"5f6ab597-f57a-40da-be9e-adad48708203"}},{"streamable":{"fulltrack":"0","#text":"0"},"duration":293,"url":"https:\/\/www.last.fm\/music\/Dr.+Dre\/The+Chronic\/Fuck+Wit+Dre+Day+(And+Everybody%27s+Celebratin%27)","name":"Fuck
        Wit Dre Day (And Everybody''s Celebratin'')","@attr":{"rank":2},"artist":{"url":"https:\/\/www.last.fm\/music\/Dr.+Dre","name":"Dr.
        Dre","recording_mbid":"5f6a[...]
