---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/recording/2fcb5bc5-2a28-4b4e-afe5-22a102ee7384?fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1070'
      X-Ratelimit-Reset:
      - '1724540351'
      Etag:
      - '"ee975d15cabb4c1b460a989ee0f02722"'
    body:
      encoding: UTF-8
      string: '{"video":false,"length":215266,"title":"Xxplosive","disambiguation":"explicit","id":"2fcb5bc5-2a28-4b4e-afe5-22a102ee7384","first-release-date":"1999-11-16"}'
  recorded_at: Sat, 24 Aug 2024 22:59:09 GMT
recorded_with: VCR 6.2.0
