---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/recording/2fcb5bc5-2a28-4b4e-afe5-22a102ee7384?fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1077'
      X-Ratelimit-Reset:
      - '1725557001'
      Etag:
      - '"fc267e31cc353dfd5ad6ebe92b4bf86f"'
    body:
      encoding: UTF-8
      string: '{"video":false,"id":"2fcb5bc5-2a28-4b4e-afe5-22a102ee7384","title":"Xxplosive","length":215266,"first-release-date":"1999-11-16","disambiguation":"explicit"}'
  recorded_at: Thu, 05 Sep 2024 17:23:20 GMT
recorded_with: VCR 6.2.0
